openapi: 3.0.0
info:
  title: CORE API
  version: 3.0.0
  description: |
    Welcome!

    You can use the CORE API to access the resources harvested and enriched by CORE. If you encounter any problems with the API, please report them to us. The CORE API provides convenient and comprehensive access to global research results. CORE is based on the global repositories network and collects, aggregates and expands the metadata provided and the associated full texts. The API allows access to the data summarised in the search index.

    **How to cite the CORE API in your work:**

    *   **CORE: A Global Aggregation Service for Open Access Papers**
        Knoth, P., Herrmannova, D., Cancellieri, M. et al. CORE: A Global Aggregation Service for Open Access Papers. Nature Scientific Data 10, 366 (2023). https://doi.org/10.1038/s41597-023-02208-w

    *   **CORE: three access levels to underpin open access**
        Knoth, P., & Zdrahal, Z. (2012). CORE: three access levels to underpin open access. D-Lib Magazine, 18(11/12). Retrieved from http://oro.open.ac.uk/35755/

    **How to call the API:**

    There are a few ways you can perform API requests using your API Key. Request an API key [here](https://core.ac.uk/api-keys/register). Please do not disclose your API key. It is for your use only.

    *   **`preferred`**: You can embed the API Key in the header. This keeps the authorisation separated from the requests parameters. Add the header `Authorization: Bearer [API_KEY]`.
    *   If you cannot set your headers you can also use the API key as a parameter in your requests including it like this: `api_key=[API_KEY]`.

    **Rate Limits:**

    Access to the CORE API is free and requires no authentication. Providing free access to general users is part of our mission. Being a sustainable scholarly infrastructure is also part of our mission. As a result, we offer better performance to registered users. The below table provides information about our rate limits depending on your situation.

    To control the load on our systems we use a rate-limiting technology based on tokens. Each user has access to a certain number of tokens at the start of their session and they can use them to perform their queries.

    Certain calls in CORE are more computationally expensive than others, therefore some calls such as recommender, scroll search and bulk queries will cost you more tokens than others. As a rule of thumb, a simple query will cost you 1 token while more complex queries will cost you between 3 to 5 tokens.

    We are monitoring the load on our servers and at some point we might decide to increase or decrease the “cost” of certain operations to control the overall load. The best way to keep on top of your API usage is to use the HTTP headers included in every API call response (see below for details about the headers).
  contact:
    name: CORE API support
    email: theteam@core.ac.uk
    url: https://core.ac.uk/contact
  license:
    name: CORE terms
    url: https://core.ac.uk/terms
  x-termsOfService: https://core.ac.uk/services/api/terms-of-service
servers:
  - url: https://api.core.ac.uk/v3
tags:
  - name: Search
    description: Endpoints for searching across different CORE entities.
  - name: Works
    description: Operations related to deduplicated and enriched research works.
  - name: Outputs
    description: Operations related to raw, source-specific research items.
  - name: Data-Providers
    description: Operations related to the sources that supply content to CORE.
  - name: Journals
    description: Operations related to academic journals in the CORE collection.
  - name: Labs
    description: Experimental endpoints.
  - name: Discovery
    description: Endpoints for discovering full-text links.
  - name: Recommender
    description: Endpoints for getting related record recommendations.
paths:
  /search/{entityType}:
    get:
      tags:
        - Search
      summary: Search through all CORE entities
      description: The CORE API search allows you to perform comprehensive searches across multiple entities, including works, outputs, data-providers, and journals.
      operationId: search_get
      parameters:
        - $ref: '#/components/parameters/entityType'
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: scroll
          in: query
          description: This parameter is useful for results sets bigger than 10,000 items. By setting it to true you enable the scroll pagination.
          required: false
          schema:
            type: boolean
        - name: stats
          in: query
          description: If set to true the search results will include statistics related to the entity. This property has an impact on the response speed.
          required: false
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Contains the entities matching the search query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
    post:
      tags:
        - Search
      summary: Search through all CORE entities using HTTP Post
      description: The CORE API also supports searching entities using POST requests, which allows complex queries to be passed in the JSON request body. This is functionally equivalent to using the GET search endpoint but is especially useful for more advanced use cases, such as long or complex query strings, automated systems, and structured JSON payloads.
      operationId: search_post
      parameters:
        - $ref: '#/components/parameters/entityType'
      requestBody:
        description: Search parameters in JSON format.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
            example:
              q: machine learning
              scroll: false
              offset: 0
              limit: 10
              stats: false
      responses:
        '200':
          description: Contains the entities matching the search query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
  /search/{entityType}/aggregate:
    post:
      tags:
        - Search
      summary: Aggregate CORE entities based on a search query
      description: The CORE API provides an aggregation feature to summarise and group search results based on specific fields. Aggregation queries differ from normal search queries as they provide summarised counts instead of detailed individual document records. To get the details of records, please check the CORE API Query Language page.
      operationId: aggregate_post
      parameters:
        - $ref: '#/components/parameters/entityType'
      requestBody:
        description: Search and aggregation parameters in JSON format.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AggregationRequest'
      responses:
        '200':
          description: Contains the aggregated results for the matching entities.
          content:
            application/json:
              schema:
                type: object
                properties:
                  aggregations:
                    type: object
  /search/works:
    get:
      tags:
        - Works
      summary: Search Works
      description: This section provides details about how to use the CORE API query language for more complex searches within the works entity.
      operationId: search_works
      parameters:
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkSearchResponse'
  /search/works/aggregate:
    post:
      tags:
        - Works
      summary: Search Works using aggregation
      description: Aggregate results for works based on a search query.
      operationId: aggregate_works
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  example: climate change
                aggregations:
                  type: array
                  items:
                    type: string
                    enum:
                      - yearPublished
                      - authors
                      - dataProvider
                      - documentType
                      - publishedDate
                      - updatedDate
                      - language
                      - publisher
                      - fieldOfStudy
                  example:
                    - yearPublished
                    - authors
      responses:
        '200':
          description: Aggregation results for the query.
          content:
            application/json:
              schema:
                type: object
              example:
                aggregations:
                  yearPublished:
                    "2023": 151061
                    "2022": 151742
                  authors:
                    Wang: 5319
                    Smith: 4805
  /works/{identifier}:
    get:
      tags:
        - Works
      summary: Get single Work
      description: The API endpoint retrieves a single Work from the CORE database using its unique identifier.
      operationId: get_work_by_id
      parameters:
        - $ref: '#/components/parameters/workIdentifier'
      responses:
        '200':
          description: A single Work object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Work'
        '404':
          $ref: '#/components/responses/WorkNotFound'
  /works/{identifier}/outputs:
    get:
      tags:
        - Works
      summary: Get outputs related to Work
      description: The API endpoint retrieves the list of Outputs associated with a specific Work. Each output represents an individual version or source-specific instance of the Work, typically harvested from repositories, journals, or other data providers.
      operationId: get_work_outputs
      parameters:
        - $ref: '#/components/parameters/workIdentifier'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: A list of Output objects.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Output'
        '404':
          $ref: '#/components/responses/WorkNotFound'
  /works/{identifier}/stats:
    get:
      tags:
        - Works
      summary: Get statistics about Work
      description: The API endpoint retrieves key lifecycle dates for a specific Work, such as when it was deposited, accepted, published, and last updated.
      operationId: get_work_stats
      parameters:
        - $ref: '#/components/parameters/workIdentifier'
      responses:
        '200':
          description: Lifecycle dates for the Work.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  deposited_date:
                    type: string
                    format: date-time
                  published_date:
                    type: string
                    format: date-time
                  updated_date:
                    type: string
                    format: date-time
                  accepted_date:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/WorkNotFound'
  /works/tei/{identifier}:
    get:
      tags:
        - Works
      summary: Download the parsed Work - TEI file
      description: Download the structured data for the pdf file associated with the work.
      operationId: download_work_tei
      parameters:
        - $ref: '#/components/parameters/workIdentifier'
      responses:
        '200':
          description: The file to download.
          content:
            application/xml:
              schema:
                type: string
                format: binary
  /works/{identifier}/download:
    get:
      tags:
        - Works
      summary: Download the Work file
      description: Download the binary file associated with the work.
      operationId: download_work_file
      parameters:
        - name: identifier
          in: path
          required: true
          schema:
            type: string
            pattern: \w+
        - name: format
          in: query
          description: The format of the download. Currently only PDF is supported.
          required: false
          schema:
            type: string
            enum:
              - tei
              - pdf
              - txt
              - raw
        - name: accept
          in: header
          description: Possible format it will go in the accept header, if empty will return the PDF file.
          required: true
          schema:
            type: string
            enum:
              - application/pdf
              - application/msword
      responses:
        '200':
          description: The file to download.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
  /search/outputs:
    get:
      tags:
        - Outputs
      summary: Search Outputs
      description: Search through the CORE outputs entity using specific query parameters and fields.
      operationId: search_outputs
      parameters:
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputSearchResponse'
  /search/outputs/aggregate:
    post:
      tags:
        - Outputs
      summary: Search Outputs using aggregation
      description: Aggregate results for outputs based on the above request body.
      operationId: aggregate_outputs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  example: climate change
                aggregations:
                  type: array
                  items:
                    type: string
                    enum:
                      - acceptedDate
                      - authors
                      - contributors
                      - depositedDate
                      - documentType
                      - language
                      - publishedDate
                      - subjects
                  example:
                    - documentType
      responses:
        '200':
          description: Aggregation results for the query.
          content:
            application/json:
              schema:
                type: object
              example:
                aggregations:
                  documentType:
                    thesis: 356641
                    'research article': 306314
                    research: 297313
  /outputs/{identifier}:
    get:
      tags:
        - Outputs
      summary: Get a single Output
      description: The API endpoint retrieves a single Output from the CORE database using its unique identifier.
      operationId: get_output_by_id
      parameters:
        - $ref: '#/components/parameters/outputIdentifier'
      responses:
        '200':
          description: A single Output object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Output'
        '404':
          $ref: '#/components/responses/OutputNotFound'
  /outputs/{identifier}/download:
    get:
      tags:
        - Outputs
      summary: Download output file
      description: The API endpoint allows you to download the binary file (e.g., PDF) associated with a specific output in the CORE repository.
      operationId: download_output_file
      parameters:
        - $ref: '#/components/parameters/outputIdentifier'
        - name: format
          in: query
          description: The format of the download. Currently only PDF is supported.
          schema:
            type: string
            enum:
              - tei
              - pdf
              - txt
              - raw
      responses:
        '200':
          description: A PDF file.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
  /outputs/{identifier}/history:
    get:
      tags:
        - Outputs
      summary: Historical data for an output
      description: The API endpoint retrieves the historical OAI-PMH XML records for a specific output. This includes all available versions of the metadata for that output since the beginning of CORE harvesting.
      operationId: get_output_history
      parameters:
        - $ref: '#/components/parameters/outputIdentifier'
      responses:
        '200':
          description: A map with data and xml record.
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/OutputNotFound'
  /outputs/{identifier}/raw:
    get:
      tags:
        - Outputs
      summary: Download raw XML record for an output
      description: The API endpoint retrieves the raw XML metadata record associated with a specific output.
      operationId: get_output_raw
      parameters:
        - $ref: '#/components/parameters/outputIdentifier'
      responses:
        '200':
          description: A XML file.
          content:
            application/xml:
              schema:
                type: string
  /outputs/{identifier}/stats:
    get:
      tags:
        - Outputs
      summary: Get statistics about an output
      description: This API endpoint retrieves statistical and date-related metadata associated with a specific output. It includes information such as the published date, deposited date, updated date, accepted date and created date.
      operationId: get_output_stats
      parameters:
        - $ref: '#/components/parameters/outputIdentifier'
      responses:
        '200':
          description: The dates and all the numbers that CORE has about this output.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  deposited_date:
                    type: string
                    format: date-time
                  published_date:
                    type: string
                    format: date-time
                  updated_date:
                    type: string
                    format: date-time
                  accepted_date:
                    type: string
                    format: date-time
                  created_date:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/OutputNotFound'
  /search/data-providers:
    get:
      tags:
        - Data-Providers
      summary: Search Data Providers
      description: Search through the CORE data providers entity using specific query parameters and fields.
      operationId: search_data_providers
      parameters:
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProviderSearchResponse'
  /search/data-providers/aggregate:
    post:
      tags:
        - Data-Providers
      summary: Search Data Providers using aggregation
      description: Aggregate results for data providers based on a search query.
      operationId: aggregate_data_providers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  example: climate change
                aggregations:
                  type: array
                  items:
                    type: string
                    enum:
                      - id
                      - software
                  example:
                    - id
      responses:
        '200':
          description: Successful response
  /data-providers/{identifier}:
    get:
      tags:
        - Data-Providers
      summary: Get a single data provider
      description: Get a single data provider of CORE using the data provider id. You can also fetch data providers using the OpenDOARId by using the prefix `opendoar:`. The API endpoint retrieves detailed metadata for a single data provider in CORE.
      operationId: get_data_provider_by_id
      parameters:
        - name: identifier
          in: path
          description: The data-provider id. Can be a DataProviderID or opendoar:<OpenDOARId>.
          required: true
          schema:
            type: string
            example: '92'
      responses:
        '200':
          description: A single Data-Provider object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DataProvider'
        '404':
          $ref: '#/components/responses/DataProviderNotFound'
  /data-providers/{identifier}/outputs:
    get:
      tags:
        - Data-Providers
      summary: Search outputs
      description: Search through the outputs harvested from this data provider. The simple search is great for most of the queries but is limited to 10,000 items. See the section Querying large datasets to overcome this limit.
      operationId: get_data_provider_outputs
      parameters:
        - name: identifier
          in: path
          description: The Data Provider ID
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/q'
        - name: offset
          in: query
          description: The starting point in your search.
          required: true
          schema:
            type: integer
            default: 0
        - name: sort
          in: query
          description: The way you want to sort the results. Recommended values are 'recency' and 'relevance'
          required: true
          schema:
            type: string
            default: relevance
        - name: limit
          in: query
          description: The size of your search, maximum size is 100 outputs per request.
          required: true
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Contains the outputs from the data provider matching the search query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OutputSearchResponse'
  /data-providers/{identifier}/stats:
    get:
      tags:
        - Data-Providers
      summary: Get statistics about a data provider
      description: Get the aggregated data behind a Data Provider. The statistics reflect the overall volume and status of content contributed by the data provider.
      operationId: get_data_provider_stats
      parameters:
        - name: identifier
          in: path
          description: The Data Provider ID
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Returns the stats of a data provider.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  countMetadata:
                    type: integer
                  countFulltext:
                    type: integer
                  history:
                    type: object
                    nullable: true
        '404':
          $ref: '#/components/responses/OutputNotFound'
    post:
      tags:
        - Data-Providers
      summary: Statistics with options. OpenDOAR
      description: Get the aggregated data behind a Data Provider and his history
      operationId: get_data_provider_stats_with_options
      parameters:
        - name: identifier
          in: path
          description: The Data Provider ID
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - identifier
              properties:
                identifier:
                  type: integer
                deposit_history:
                  type: boolean
                  default: false
                raw_stats:
                  type: boolean
                  default: false
                set:
                  type: string
                  default: ''
                refresh:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Successful response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  count_metadata:
                    type: string
                  count_fulltext:
                    type: string
                  history:
                    type: array
                    items:
                      type: string
                  source_stats:
                    type: array
                    items:
                      type: string
                  last_seen:
                    type: array
                    items:
                      type: string
                  set:
                    type: array
                    items:
                      type: string
        '404':
          $ref: '#/components/responses/OutputNotFound'
  /search/journals:
    get:
      tags:
        - Journals
      summary: Search Journals
      description: Search through the CORE journals entity using specific query parameters and fields.
      operationId: search_journals
      parameters:
        - $ref: '#/components/parameters/q'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JournalSearchResponse'
  /search/journals/aggregate:
    post:
      tags:
        - Journals
      summary: Search Journals using aggregation
      description: Aggregate results for journals based on a search query.
      operationId: aggregate_journals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                q:
                  type: string
                  example: climate change
                aggregations:
                  type: array
                  items:
                    type: string
                    enum:
                      - subjects
                  example:
                    - subjects
      responses:
        '200':
          description: Successful response
  /journals/{identifier}:
    get:
      tags:
        - Journals
      summary: Get the Journal by identifier
      description: Get a single journal based on its identifier in CORE. You can use the prefix `issn:` to search by ISSN.
      operationId: get_journal_by_id
      parameters:
        - name: identifier
          in: path
          description: The Journal id in CORE. Use `issn:ISSN` to search by ISSN instead of the CORE identifier.
          required: true
          schema:
            type: string
            pattern: \w+:\d+.\d+
      responses:
        '200':
          description: A single Journal object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Journal'
        '404':
          $ref: '#/components/responses/JournalNotFound'
  /journals/{identifier}/stats:
    get:
      tags:
        - Journals
      summary: Statistics
      description: Get the aggregated data for the corresponding Journal. This data matches the data coming from the associated Data Provider.
      operationId: get_journal_stats
      parameters:
        - name: identifier
          in: path
          description: The Journal ID use `issn:` for ISSNs.
          required: true
          schema:
            type: string
            pattern: \w+:\d+.\d+
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifier:
                    type: integer
                  count_metadata:
                    type: string
                  count_fulltext:
                    type: string
                  doi_count:
                    type: string
        '404':
          $ref: '#/components/responses/JournalNotFound'
  /labs/expert-finder:
    post:
      tags:
        - Labs
      summary: Expert finder
      operationId: expert_finder
      requestBody:
        description: Recommendation parameters.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
                - limit
                - identifier
                - abstract
                - title
                - result_type
              properties:
                text:
                  type: string
                limit:
                  type: string
                identifier:
                  type: string
                abstract:
                  type: string
                authors:
                  type: array
                  items:
                    type: string
                title:
                  type: string
                result_type:
                  type: string
                data_provider_id:
                  type: integer
                  nullable: true
      responses:
        '404':
          description: The parameters don't match any Expert finder.
  /discover:
    post:
      tags:
        - Discovery
      summary: Discover full texts links.
      description: This endpoint allows you to find links to full texts based on a DOI. The system will search through the CORE data and other external sources to provide you the best match.
      operationId: discover_full_text
      requestBody:
        description: Discovery parameters
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                doi:
                  type: string
                  default: ''
                title:
                  type: string
                  default: ''
                year:
                  type: integer
                  default: 1970
                eprints_id:
                  type: string
                  default: ''
                plugin_id:
                  type: string
                  default: ''
                referrer:
                  type: string
                  default: ''
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  fullTextLink:
                    type: string
                  source:
                    type: string
  /recommend:
    post:
      tags:
        - Recommender
      summary: Recommend.
      description: Recommends records in the CORE collection related to the input. You can request recommendations for a specific CORE record using the `core:` prefix or by passing any identifier. You can also request recommendations based on a more generic text entry. The more information you send to the recommender engine the more accurate the recommendation will be.
      operationId: recommend
      requestBody:
        description: Recommendation parameters.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - text
                - limit
                - identifier
                - abstract
                - title
                - result_type
              properties:
                text:
                  type: string
                limit:
                  type: string
                identifier:
                  type: string
                abstract:
                  type: string
                authors:
                  type: array
                  items:
                    type: string
                title:
                  type: string
                result_type:
                  type: string
                data_provider_id:
                  type: integer
                  nullable: true
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Output'
        '404':
          description: Not found
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'API key can be passed as a Bearer token in the Authorization header. Example: `Authorization: Bearer YOUR_API_KEY`. Alternatively, it can be passed as a query parameter: `api_key=YOUR_API_KEY`.'
  parameters:
    entityType:
      name: entityType
      in: path
      description: Type of the entity to search.
      required: true
      schema:
        type: string
        enum:
          - works
          - outputs
          - data-providers
          - journals
    q:
      name: q
      in: query
      description: Search query (use specific fields like doi, title, authors, etc.).
      required: true
      schema:
        type: string
    limit:
      name: limit
      in: query
      description: Maximum number of results to return.
      required: false
      schema:
        type: integer
        default: 10
    offset:
      name: offset
      in: query
      description: Offset for pagination.
      required: false
      schema:
        type: integer
        default: 0
    workIdentifier:
      name: identifier
      in: path
      description: The Work ID
      required: true
      schema:
        type: string
        pattern: \d+|\w+:\d+|\w+:\d+.\d+|\w+:[a-z0-9.]+:\d+|...
    outputIdentifier:
      name: identifier
      in: path
      description: The CORE ID of the output.
      required: true
      schema:
        type: string
        pattern: \w+
  responses:
    WorkNotFound:
      description: The identifier doesn't match any work in CORE.
    OutputNotFound:
      description: The identifier doesn't match any output in CORE.
    DataProviderNotFound:
      description: The identifier doesn't match any data provider in CORE.
    JournalNotFound:
      description: The identifier doesn't match any Journal in CORE.
  schemas:
    SearchRequest:
      type: object
      properties:
        q:
          type: string
          description: Search query (use specific fields like doi, title, authors, etc.).
        scroll:
          type: boolean
          description: Enable scroll pagination for large result sets.
        offset:
          type: integer
          default: 0
          description: Offset for pagination.
        limit:
          type: integer
          default: 10
          description: Maximum number of results to return.
        stats:
          type: boolean
          default: false
          description: Include search statistics (can slow down the response).
      required:
        - q
    AggregationRequest:
      type: object
      properties:
        q:
          type: string
          description: The query string is written using CORE’s query language.
        aggregations:
          type: array
          items:
            type: string
          description: A list of fields to aggregate results by. Only supported fields are allowed.
    SearchResponse:
      type: object
      properties:
        total_hits:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        scroll_id:
          type: string
        results:
          type: array
          items:
            type: object
        tooks:
          type: array
          items:
            type: string
        es_took:
          type: integer
        search_id:
          type: string
    Work:
      type: object
      properties:
        id:
          type: integer
          description: Unique Work identifier
        abstract:
          type: string
          description: A summary of the work.
        acceptedDate:
          type: string
          format: date-time
          description: Date when the record was accepted for publication. Format - YYYY-MM-DDTHH:MM:SS
        arxivId:
          type: string
          description: Unique identifier assigned to the record in arXiv. Format - YYMM.number.
        authors:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
          description: List of author names.
        citationCount:
          type: integer
          description: Number of citations received.
        contributors:
          type: array
          items:
            type: string
          description: List of entities (editors, translators, organisations etc.) responsible for making contributions to the resource.
        createdDate:
          type: string
          format: date-time
          description: Timestamp when the record was initially created in CORE. Format - YYYY-MM-DDTHH:MM:SS
        dataProviders:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              url:
                type: string
              logo:
                type: string
          description: List of data-provider information.
        depositedDate:
          type: string
          format: date-time
          description: Date when the record was deposited to the repository and and follows the format-YYYY-MM-DDTHH:MM:SS.
        documentType:
          type: string
          description: Type of the record.
        doi:
          type: string
          description: DOI of the record.
        downloadUrl:
          type: string
          description: Download URL of the work.
        fieldOfStudy:
          type: string
          description: Subject area or discipline related to the work.
        fullText:
          type: string
          description: Full-text of the work.
        identifiers:
          type: array
          items:
            type: object
            properties:
              identifier:
                type: string
              type:
                type: string
          description: List of CORE_IDs and external identifiers (ARXIV_ID, DOI, OAI_ID) associated with the record.
        journals:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              identifiers:
                type: array
                items:
                  type: string
          description: List of metadata (journal title and identifiers including issn) about the journal associated with the record.
        links:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              url:
                type: string
          description: List of different types of CORE URLs associated with the record.
        magId:
          type: string
          description: Unique identifier assigned to the work in Microsoft Academic Graph.
        oaiIds:
          type: array
          items:
            type: string
          description: List of OAI identifiers for the work.
        outputs:
          type: array
          items:
            type: string
          description: List of URLs, pointing to a specific output in CORE.
        publishedDate:
          type: string
          format: date-time
          description: Date, the record is published and follows the format-YYYY-MM-DDTHH:MM:SS.
        publisher:
          type: string
          description: Name of the publisher.
        pubmedId:
          type: string
          description: Unique identifier assigned to the record in PubMed.
        references:
          type: array
          items:
            type: object
          description: List of references cited in the work.
        sourceFulltextUrls:
          type: array
          items:
            type: string
          description: List of URLs where full-text is available.
        title:
          type: string
          description: Title of the work.
        updatedDate:
          type: string
          format: date-time
          description: Date when the work was last updated in CORE
        yearPublished:
          type: integer
          description: Year the document was published.
        language:
          type: object
        source_fulltext_urls:
          type: array
          items:
            type: string
    Output:
      type: object
      properties:
        id:
          type: integer
          description: Unique CORE identifier (CORE_ID)
        abstract:
          type: string
          description: Abstract of the document.
        acceptedDate:
          type: string
          format: date-time
          description: Date when the article was accepted for publication. Format - YYYY-MM-DDTHH:MM:SS
        authors:
          type: array
          items:
            type: string
          description: List of author
        contributors:
          type: array
          items:
            type: string
          description: List of entities (editors, translators, organisations etc.) responsible for making contributions to the resource.
        createdDate:
          type: string
          format: date-time
          description: Timestamp when the output record was initially created in CORE. Format - YYYY-MM-DDTHH:MM:SS±HH:MM
        deleted:
          type: string
          description: Shows the status of the document, if it is accessible or not.
        depositedDate:
          type: string
          format: date-time
          description: The timestamp indicating when the article was initially deposited in the institutional repository. Format - YYYY-MM-DDTHH:MM:SS±HH:MM
        disabled:
          type: boolean
          description: Boolean flag (true / false) that shows if the document is disabled or restricted in the system.
        documentType:
          type: string
          description: List of types of the outputs.
        doi:
          type: string
          description: DOI of the output.
        downloadUrl:
          type: string
          description: Direct link to download the full-text document in PDF format (if available).
        fullText:
          type: string
          description: Full-text of the output.
        fulltextStatus:
          type: string
          description: Indicates whether full text is present (enabled) or not (disabled).
          enum:
            - enabled
            - disabled
        identifiers:
          type: object
          properties:
            doi:
              type: string
            oai:
              type: string
          description: External unique identifiers for the document, such as DOI and OAI.
        journals:
          type: array
          items:
            type: object
            properties:
              title:
                type: string
              identifiers:
                type: array
                items:
                  type: string
          description: List of metadata (journal title and identifiers including issn) about the journal associated with the document.
        language:
          type: object
          properties:
            code:
              type: string
            name:
              type: string
          description: Language of the document including the name and code.
        lastUpdate:
          type: string
          format: date-time
          description: Last update timestamp and follows the format - YYYY-MM-DDTHH:MM:SS±HH:MM
        license:
          type: string
          description: License under which the document is published.
        links:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              url:
                type: string
          description: List of different types of CORE URLs associated with the document.
        oai:
          type: string
          description: OAI identifier. Format - oai:repository.domain.com:identifier
        publishedDate:
          type: string
          format: date-time
          description: Timestamp when the output was first published. Format - YYYY-MM-DDTHH:MM:SS+TZ
        publisher:
          type: string
          description: Name of the publisher.
        references:
          type: array
          items:
            type: object
          description: List of references cited in the output.
        repositories:
          type: object
          properties:
            id:
              type: string
            openDoarId:
              type: integer
            name:
              type: string
            urlHomepage:
              type: string
            uriJournals:
              type: string
            physicalName:
              type: string
            roarId:
              type: integer
            baseId:
              type: integer
            pdfStatus:
              type: string
            nrUpdates:
              type: integer
            lastUpdateTime:
              type: string
          description: Information about repositories holding the output.
        repositoryDocument:
          type: object
          properties:
            id:
              type: integer
            depositedDate:
              type: string
            publishedDate:
              type: string
            updatedDate:
              type: string
            acceptedDate:
              type: string
            createdDate:
              type: string
          description: Metadata information of the output including its id and different timestamps.
        sdg:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              score:
                type: number
          description: Multi-label Sustainable Development Goals (SDG) classification.
        setSpecs:
          type: array
          items:
            type: string
          description: List of IDs used to filter metadata records based on predefined groupings or categories within a repository.
        sourceFulltextUrls:
          type: array
          items:
            type: string
          description: List of URLs to view the full-text of the document.
        subjects:
          type: array
          items:
            type: string
          description: List with possible values.
        tags:
          type: array
          items:
            type: string
          description: List of topical labels associated with the article
        title:
          type: string
          description: Title of the article.
        updatedDate:
          type: string
          format: date-time
          description: Date in which the article was updated in CORE. Format - YYYY-MM-DDTHH:MM:SS±HH:MM
        urls:
          type: array
          items:
            type: string
          description: List of external URLs pointing to resources related to the output.
        yearPublished:
          type: integer
          description: Year the document was published.
        data_provider:
          type: array
          items:
            type: object
        versions:
          type: string
        download_url:
          type: string
        full_text:
          type: string
        set_specs:
          type: array
          items:
            type: object
        fulltext_status:
          type: string
        last_update:
          type: string
    DataProvider:
      type: object
      properties:
        id:
          type: integer
          description: Unique identifier for the data provider.
        aliases:
          type: array
          items:
            type: string
          description: List of alternative names or acronyms for the institution.
        createdDate:
          type: string
          format: date-time
        email:
          type: string
          format: email
          description: Contact email for the data provider.
        homepageUrl:
          type: string
          format: uri
          description: Homepage URL of the data provider.
        institutionName:
          type: string
          description: Name of the institution responsible for the repository or data provider.
        location:
          type: object
          properties:
            countryCode:
              type: string
            latitude:
              type: number
            longitude:
              type: number
          description: Geographical location details about the data provider or repository.
        logo:
          type: string
          format: uri
          description: CORE API URL to the logo image of the data provider.
        metadataFormat:
          type: string
          description: Metadata format used.
        name:
          type: string
          description: Name of the data provider.
        oaiPmhUrl:
          type: string
          format: uri
          description: Open Archives Initiative Protocol for Metadata Harvesting (OAI-PMH) endpoint URL of a repository.
        openDoarId:
          type: integer
          description: Unique identifier of the repository from OpenDOAR.
        otherIdentifiers:
          type: object
          description: External global identifiers for the institution including Global Research Identifier Database (GRID) ID.
        rorId:
          type: string
          description: Unique ROR (Research Organization Registry) identifier.
        software:
          type: string
          description: Software used by data-providers for managing digital repositories.
        type:
          type: string
          description: Indicates the classification of the data provider. Possible values are REPOSITORY, JOURNAL.
        uri:
          type: string
          nullable: true
        source:
          type: string
          nullable: true
        stats:
          type: string
          nullable: true
    Journal:
      type: object
      properties:
        dataProviderId:
          type: string
          description: Unique identifier in CORE assigned for data-provider.
        identifiers:
          type: array
          items:
            type: string
          description: List of unique identifiers associated with a journal, such as ISSNs, OAI identifiers, and URLs.
        language:
          type: string
          description: Language used in the journal.
        publisher:
          type: string
          description: Name of the publisher.
        subjects:
          type: array
          items:
            type: string
          description: List of domains associated with the journal.
        title:
          type: string
          description: Name of the journal.
    WorkSearchResponse:
      allOf:
        - $ref: '#/components/schemas/SearchResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/Work'
    OutputSearchResponse:
      allOf:
        - $ref: '#/components/schemas/SearchResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/Output'
    DataProviderSearchResponse:
      allOf:
        - $ref: '#/components/schemas/SearchResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/DataProvider'
    JournalSearchResponse:
      allOf:
        - $ref: '#/components/schemas/SearchResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                $ref: '#/components/schemas/Journal'
security:
  - apiKey: []